<!DOCTYPE html>
<html>
  <body>
    <h1>MGame web</h1>
    <h2>Join</h2>
    <ul>
        <li><a href="client/game.html">Single player</a></li>
        <li><a href="client/game.html?remote_site_id=43&remote_role=client&remote_secret={{remote_secret}}&remote_ip={{remote_ip}}&remote_port=8443{% if cert_hash %}&cert_hash={{cert_hash}}{% endif %}">Multiplayer, ID=43</a></li>
        <li><a href="client/game.html?remote_site_id=73&remote_role=client&remote_secret={{remote_secret}}&remote_ip={{remote_ip}}&remote_port=8443{% if cert_hash %}&cert_hash={{cert_hash}}{% endif %}">Multiplayer, ID=73</a></li>
    </ul>
    <button data-endpoint="new_game">New game</button>
    <h2>Configuration</h2>
    {{ render_lists(config) }}

    <script src="server/server.js?remote_secret={{remote_secret}}"></script>
  </body>
</html>
